/* 旋转动画 */
.yzz-rotate {
  animation: rotate 1.4s linear infinite; /* 旋转动画，持续时间2秒，线性运动，无限循环 */
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* 初始状态，不旋转 */
  }
  to {
    transform: rotate(360deg); /* 终止状态，旋转360度 */
  }
}
